<h1><%= @emp.first_name %> <%= @emp.last_name %></h1>

<h2><%= @emp.alias %></h2>
<h2><%= @emp.title %></h2>
<h2><%= @emp.office %></h2>
<img src=<%= @emp.img_url %>>

<!-- Consider adding a link to your edit action. In general, if you have to type a url,
your user will get stuck there, because they didn't define that url and don't know what it is.-->